    icons-social{
    position:fixed;
    
    width: 35px;
    height: 145px;
    left: 38px;
    top: 123px;

   }

   #img-codequeens{
    position: fixed;
    width: 48px;
    height: 49.09px;
    left: 37px;
    top: 12px;
        
   }

   #img-instagram{
    position:fixed;
    width: 32px;
    height: 35px;
    left: 44px;
    top: 83px;

   }
   #img-youtube{
    position:fixed;
    width: 33px;
    height: 33px;
    left: 44px;
    top: 118px;
   }
   #img-git{
    position:fixed;
    width: 30px;
    height: 30px;
    left: 46px;
    top: 157px;
    
    
   }

   .lilas-fundo{
    position: fixed;
    width: 48px;
    height: 210px;
    left: 37px;
    top: 0px;
   }